*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Dosis', sans-serif;
    font-size: xx-large;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(222,6,7);
    background: radial-gradient(circle, rgba(222,6,7,1) 0%, rgba(255,191,23,0.6955969887955182) 100%);
}

.container{
align-self: center;
margin: 10px;
}

.dices{
    margin: 5px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

h3{
    color: #2c2c2c;
    padding: 10px;
    font-size: 30px;
}

button{
    font-size: 30px;
    text-decoration: none;
    border: solid 2px #f0f0e6;
    border-radius: 10px;
    padding: 10px;
}

select{
    font-size: 20px;
}